<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Duplicado de Huésped</title>
</head>
<body>
  <h2>¡CUIDADO!</h2>
  <p th:text="${error}"></p>

  <form th:action="@{/huespedes/guardar}" method="post" th:object="${huespedDuplicado}">
    <input type="hidden" name="forzar" value="true"/>
    <div style="text-align:center;">
      <button type="submit">Aceptar igualmente</button>
      <button type="button" onclick="window.history.back()">Corregir</button>
    </div>
  </form>
</body>
</html>
